@using Bella_Hair.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>
<body>

    <!-- Wrap hele appen i en container -->
    <div id="app-root" class="app-root">
        <!-- Global interactive routing -->
        <Routes @rendermode="InteractiveServer" />
    </div>

    <script src="_framework/blazor.web.js"></script>
    <script src="print.js"></script>

</body>

</html>
